@keyframes bounce {
    10%, 32% { transform: translateX(0); } /* Stay in place for 2s */
    40% { transform: translateX(30px); } /* Move Right */
    50% { transform: translateX(0); } /* Back to Center */
    60% { transform: translateX(30px); } /* Move Right Again */
    70% { transform: translateX(0); } /* Back to Center */
}

#bounceBtn {
    animation: bounce 4s ease-in-out infinite;
}

#bounceBtn:hover {
    animation-play-state: paused;
}

#bannerBackground {
    background: rgb(0,0,0);
    background-image: linear-gradient(103deg, rgba(0, 0, 0, 0.692) 0%, rgba(2, 2, 2, 0.535) 100%), url('/src/assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
    max-width: 100vw;
}


#investment{
    background-image: linear-gradient(rgba(231, 231, 231, 0.7), rgba(231, 231, 231, 0.7)), url('../assets/images/duplex2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
}

#transparentText{
    background-image: url('../assets/images/duplex2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 800px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 900;
}